<p id="notice"><%= notice %></p>

<h1>Listing Neighbourhoods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neighbourhoods.each do |neighbourhood| %>
      <tr>
        <td><%= link_to 'Show', neighbourhood %></td>
        <td><%= link_to 'Edit', edit_neighbourhood_path(neighbourhood) %></td>
        <td><%= link_to 'Destroy', neighbourhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighbourhood', new_neighbourhood_path %>
