<html xmlns="http://www.w3.org/1999/xhtml">
<!--<head>
    <title>Eternity Forms Preview</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<link href="css/preview.css" rel="stylesheet" />-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body class="eternity-form">
<section class="colorBg2 colorBg" id="demo2" data-panel="second">
  <div class=" container">
    <br />
    <br />
    <!-- #region Registration Form -->
    <div class="card-body card-padding">

      <div class="section-title reg-header " data-animation="fadeInDown">
        <h3>Get your Account Here </h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            </div>
            <div class="clearfix">
              <div class="col-sm-6 registration-left-section  " data-animation="fadeInUp">
                <div class="reg-content">
                  <div class="textbox-wrap">
                    <div class="input-group">
                      <span class="input-group-addon "></span>
                      <div class="field">
                        <%= f.label :first_name %><br/>
                        <%= f.text_field :first_name, autocomplete: "off" %>
                      </div>
                    </div>
                  </div>
                  <div class="textbox-wrap">
                    <div class="input-group">
                      <span class="input-group-addon "></span>
                      <div class="field">
                        <%= f.label :last_name %><br/>
                        <%= f.text_field :last_name, autocomplete: "off" %>
                      </div>
                    </div>
                  </div>
                  <div class="textbox-wrap">
                    <div class="input-group">
                      <span class="input-group-addon "></span>
                      <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 registration-right-section " data-animation="fadeInUp">
                <div class="reg-content">

                  <div class="textbox-wrap">
                    <div class="input-group">
                      <span class="input-group-addon "></span>
                      <div class="field">
                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                      </div>
                    </div>
                  </div>
                  <div class="textbox-wrap">
                    <div class="input-group">
                      <span class="input-group-addon "></span>
                      <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>
                    </div>
                  </div>
                  <a href="/residents/sign_in" class="btn btn-success pull-left blue-btn ">
                    &nbsp; &nbsp;Back To Login
                  </a>
                  <%= f.submit "Sign up" %>

                </div>
              </div>

            </div>


            </div>
        <%end%>


        </div>


  <%= render "devise/shared/links" %>
</section>


<script type="text/javascript">
    $(function () {
        $("input").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%' // optional
        });
        $(".dark input").iCheck({
            checkboxClass: 'icheckbox_polaris',
            increaseArea: '20%' // optional
        });
        $(".form-control").focus(function () {
            $(this).closest(".textbox-wrap").addClass("focused");
        }).blur(function () {
            $(this).closest(".textbox-wrap").removeClass("focused");
        });

        //On Scroll Animations


        if ($(window).width() >= 968 && !Modernizr.touch && Modernizr.cssanimations) {

            $("body").addClass("scroll-animations-activated");
            $('[data-animation-delay]').each(function () {
                var animationDelay = $(this).data("animation-delay");
                $(this).css({
                    "-webkit-animation-delay": animationDelay,
                    "-moz-animation-delay": animationDelay,
                    "-o-animation-delay": animationDelay,
                    "-ms-animation-delay": animationDelay,
                    "animation-delay": animationDelay
                });

            });
            $('[data-animation]').waypoint(function (direction) {
                if (direction == "down") {
                    $(this).addClass("animated " + $(this).data("animation"));

                }
            }, {
                offset: '90%'
            }).waypoint(function (direction) {
                if (direction == "up") {
                    $(this).removeClass("animated " + $(this).data("animation"));

                }
            }, {
                offset: $(window).height() + 1
            });
        }

        //End On Scroll Animations


        $(".main-nav a[href]").click(function () {
            var scrollElm = $(this).attr("href");

            $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

            $(".main-nav a[href]").removeClass("active");
            $(this).addClass("active");
        });




        if ($(window).width() > 1000 && !Modernizr.touch) {
            var options = {
                $menu: ".main-nav",
                menuSelector: 'a',
                panelSelector: 'section',
                namespace: '.panelSnap',
                onSnapStart: function () { },
                onSnapFinish: function ($target) {
                    $target.find('input:first').focus();
                },
                directionThreshold: 50,
                slideSpeed: 200
            };
            $('body').panelSnap(options);

        }

        $(".colorBg a[href]").click(function () {
            var scrollElm = $(this).attr("href");

            $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

            return false;
        });

    });
</script>

</body>
</html>
