<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @comment.Resident %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %>
<%= link_to 'Back', comments_path %>
