<p id="notice"><%= notice %></p>

<h1>All complaints</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Added on</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @complaints.each do |complaint| %>
      <tr>
        <td><%=link_to complaint.title, complaint%></td>
        <td><%= link_to complaint.resident.first_name + " " + complaint.resident.last_name, complaint.resident%></td>
        <td><%= complaint.created_at.to_date %></td>
        <td>
          <% if complaint.solved==1%>
              Solved
          <%else%>
              Not Solved
          <%end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
