<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @complaint.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @complaint.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @complaint.resident.first_name , @complaint.resident%>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
