<%= form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :flat_type %><br>
    <%= f.number_field :flat_type %>
  </div>
  <div class="field">
    <%= f.label :dues %><br>
    <%= f.text_field :dues %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
