<p id="notice"><%= notice %></p>

<h1>Listing Flats</h1>

<table>
  <thead>
    <tr>
      <th>Floor</th>
      <th>Flat type</th>
      <th>Dues</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.floor %></td>
        <td><%= flat.flat_type %></td>
        <td><%= flat.dues %></td>
        <td><%= link_to 'Show', flat %></td>
        <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
        <td><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flat', new_flat_path %>
