<p id="notice"><%= notice %></p>

<p>
  <strong>Floor:</strong>
  <%= @flat.floor %>
</p>

<p>
  <strong>Flat type:</strong>
  <%= @flat.flat_type %>
</p>

<p>
  <strong>Dues:</strong>
  <%= @flat.dues %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
