<p id="notice"><%= notice %></p>

<p>
  <strong>Dues:</strong>
  <%= @family.dues %>
</p>

<p>
  <strong>Address:</strong>
  <%= @family.address %>
</p>

<p>
  <strong>String:</strong>
  <%= @family.string %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
