<p id="notice"><%= notice %></p>

<h1>Listing Information</h1>

<table>
  <thead>
    <tr>
      <th>Created on</th>
      <th>Content</th>
      <th>Sentiment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @information.each do |information| %>
      <tr>
        <td><%= information.created_on %></td>
        <td><%= information.content %></td>
        <td><%= information.sentiment %></td>
        <td><%= link_to 'Show', information %></td>
        <td><%= link_to 'Edit', edit_information_path(information) %></td>
        <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Information', new_information_path %>
