<p id="notice"><%= notice %></p>

<p>
  <strong>Created on:</strong>
  <%= @information.created_on %>
</p>

<p>
  <strong>Content:</strong>
  <%= @information.content %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @information.sentiment %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
