<p id="notice"><%= notice %></p>

<p>
  <strong>Options:</strong>
  <%= @poll.options %>
</p>

<p>
  <strong>Only admins can vote:</strong>
  <%= @poll.only_admins_can_vote %>
</p>

<p>
  <strong>Result:</strong>
  <%= @poll.result %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
