<%= form_for @resident, :html => { :class => "form-horizontal resident" } do |f| %>

    <% if @resident.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @resident.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@resident[:first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@resident[:last_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :dob, :start_year => Date.current.year, :end_year => 1990, :class => 'form-control' %>
    </div>
    <%= error_span(@resident[:dob]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@resident[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%= error_span(@resident[:gender]) %>
  </div>
  <div class="control-group">
    <%= f.label :living_space_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :living_space_id, :class => 'form-control' %>
    </div>
    <%= error_span(@resident[:living_space_id]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            residents_path, :class => 'btn btn-default' %>

<% end %>
