<%- model_class = Resident -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <div class="span9">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:dob) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
    </tr>
  </thead>
</div>
  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= link_to resident.id, resident%></td>
        <td><%= link_to resident.first_name + " " + resident.last_name, resident %>
        <td><%= resident.dob %></td>
        <td><%= resident.email %></td>
        <td><%= resident.gender %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_resident_path,
            :class => 'btn btn-primary' %>
