<p id="notice"><%= notice %></p>


<% if @resident!=nil%>

<header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
        <h2><%=@resident.first_name + " " + @resident.last_name  %></h2>
        <p> This is your timeline from here user can access his blogs, polls and get help from others in the neighbourhood.</p>
        <p><a class="btn btn-primary btn-large">Call to action!</a>
        </p>
    </header>

    <% if @resident.approved==0%>
        <p>Your account hasn't been approved yet, Please ask Super Admin to it since you have created a new family.</p>
    <%end%>

    <% if @resident.superadmin==1%>
        <strong><p>You have SuperAdmin Privileges</p></strong>
    <%end%>
    <p>
      <% if @resident.uid!=nil%>
        <div class="col-md-3">
          <%=image_tag "https://graph.facebook.com/"+ @resident.uid + "/picture?type=large" %>
        </div>
    <%end%>
    </p>
    <div class="col-md-9">
        <p>
          <strong>First name:</strong>
          <%= @resident.first_name %>
        </p>

        <p>
          <strong>Last name:</strong>
          <%= @resident.try(:last_name) %>
        </p>

        <p>
          <strong>Dob:</strong>
          <%= @resident.try(:dob).try(:to_date) %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @resident.email %>
        </p>

        <p>
          <strong>Gender:</strong>
          <%= @resident.gender %>
        </p>

        <p>
          <strong>Livingspace:</strong>
          <%= @resident.living_space %>
        </p>

        <p>
          <strong>Family ID:</strong>
          <%= @resident.family_id if @resident.approved==1 %>
        </p>

        <%= link_to 'Edit', edit_resident_path(@resident) %> |
        <%= link_to 'Back', residents_path %>
      </div>


    <% if @resident.family_id.nil? or @resident.family_id==0%>
        <%= form_for(@resident) do |f| %>
            <% if @resident.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

                  <ul>
                    <% @resident.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>


            <br>Ask your family head for your family id <br>
            <%= collection_select(:resident, :family_id, Family.all, :id, :id, prompt: true) %>

            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>
        <br>or Create a New Family<br>

        <%= button_to "Create", {:controller => :families, :action => :create, callback: "/residents/me"}, {:method => :post}%>


    <%else if @resident.approved==1%>
            <h3>Your Family Members: </h3>
            <% members = @resident.try(:family).try(:residents).where(approved: '1')%>
            <table class="table">
              <thead>
              <tr>
                <th>User ID  </th>
                <th>Name</th>
                <th>Email</th>

              </tr>
              </thead>

              <tbody>
              <% members.try(:each) do |p| %>
                  <%if p.approved==1%>
                      <tr>
                        <td><%= link_to p.id, p %></td>
                        <td><%= p.first_name+" "+p.last_name %></td>
                        <td><%= p.email %></td>
                      </tr>
                  <%end%>
              <% end %>
              </tbody>
            </table>

            <% if @resident.family.head==@resident.id and @resident.approved==1%>
                <h3>You are the head of your family</h3>
                <%if @resident.family.residents.where(approved: '0').count==0 %>
                    <p>No pending approvals</p>
                <%else%>
                    <p>Approve Pending Requests:</p>
                    <% pending= @resident.family.residents.where(approved: '0')%>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>User ID  </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Family ID</th>
                        <th>Family Head</th>
                        <th>Created At</th>
                        <th colspan="3">Action</th>
                      </tr>
                      </thead>

                      <tbody>
                      <% pending.each do |p| %>
                          <tr>
                            <td><%= link_to p.id, p %></td>
                            <td><%= p.first_name+" "+p.last_name %></td>
                            <td><%= p.email %></td>
                            <td><%= p.family_id %></td>
                            <td><%= p.family.try(:head)%></td>
                            <td><%= p.created_at%></td>
                            <td><%= link_to "Approve", {:controller => :residents, :action => :approve, id: p.id, email: p.email}, {:method => :get }%></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <%end%>
            <%end%>
        <%end%>
    <%end%>

    <hr>
    <% if @resident.superadmin==1 %>
        <h3>Pending Approval</h3>
        <%if Resident.where(approved: '0').count==0 %>
            <p>No pending approvals</p>
        <%else%>
            <% pending= Resident.where(approved:'0')%>
            <table class="table">
              <thead>
              <tr>
                <th>User ID  </th>
                <th>Name</th>
                <th>Email</th>
                <th>Family ID</th>
                <th>Family Head</th>
                <th>Created On</th>
                <th colspan="3">Action</th>
              </tr>
              </thead>

              <tbody>
              <% pending.each do |p| %>
                  <tr>
                    <td><%= link_to p.id, p %></td>
                    <td><%= p.first_name+" "+p.last_name %></td>
                    <td><%= p.email %></td>
                    <td><%= p.family_id %></td>
                    <td><%= p.family.try(:head)%></td>
                    <td><%= p.created_at%></td>
                    <td><%= link_to "Approve", {:controller => :residents, :action => :approve, id: p.id, email: p.email}, {:method => :get }%></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <%end%>
        <!-- displaying posts in the timeline of a user-->


    <%end%>

<% else %>
    <h2>No record found</h2>
<%end%>
