<!--<%- model_class = Resident -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>-->



<html xmlns="http://www.w3.org/1999/xhtml">
<!--<head>
    <title>Eternity Forms Preview</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<link href="css/preview.css" rel="stylesheet" />-->
    <%= stylesheet_link_tag '/residents/css/preview', media: "all" %>
    <%= javascript_include_tag '/residents/js/modernizr' %>
    <%= javascript_include_tag '/residents/js/jquery-1.9.1' %>
    <%= javascript_include_tag '/residents/js/bootstrap' %>
    <%= javascript_include_tag '/residents/js/respond.src' %>
    <%= javascript_include_tag '/residents/js/jquery.icheck' %>
    <%= javascript_include_tag '/residents/js/placeholders.min' %>
    <%= javascript_include_tag '/residents/js/waypoints.min' %>
    <%= javascript_include_tag '/residents/js/jquery.panelSnap' %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body class="eternity-form">
  <nav class="main-nav">
        <ul>
            <li><a href="#demo1" class="active" data-title="Login Form" data-panel="first"></a></li>
            <li><a href="#demo2" data-title="Registration Form" data-panel="second"></a></li>

        </ul>
    </nav>
    <section class="colorBg1 colorBg" id="demo1" data-panel="first">
        <div class=" container">

            <div class="login-form-section">
                <div class="login-content " data-animation="bounceIn">
                    <form>
                        <div class="section-title">
                            <h3>LogIn to your Account</h3>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                <input type="text" required="required" class="form-control" placeholder="Username" />
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                <input type="password" required="required" class="form-control " placeholder="Password" />
                            </div>
                        </div>
                        <div class="login-form-action clearfix">
                            <div class="checkbox pull-left">
                                <div class="custom-checkbox">
                                    <input type="checkbox" checked name="iCheck">
                                </div>
                                <!--<span class="checkbox-text pull-left">&nbsp;Remember Me</span>-->
                            </div>
                            <button type="submit" class="btn btn-success pull-right green-btn">LogIn &nbsp; <i class="icon-chevron-right"></i></button>
                        </div>
                    </form>
                </div>
                <div class="login-form-links link1 " data-animation="fadeInLeftBig" data-animation-delay=".2s">
                    <h4 class="blue">Don't have an Account?</h4>
                    <span>No worry</span>
                    <a href="#demo2" class="blue">Click Here</a>
                    <span>to Register</span>
                </div>
                <div class="login-form-links link2 " data-animation="fadeInRightBig" data-animation-delay=".4s">
                    <h4 class="green">Forget your Password?</h4>
                    <span>Dont worry</span>
                    <a href="#demo3" class="green">Click Here</a>
                    <span>to Get New One</span>
                </div>
            </div>



        </div>
    </section>


    <section class="colorBg2 colorBg" id="demo2" data-panel="second">
            <div class=" container">
                <br />
                <br />
                <!-- #region Registration Form -->
                <div class="registration-form-section">
                    <form>
                        <div class="section-title reg-header " data-animation="fadeInDown">
                            <h3>Get your Account Here </h3>

                        </div>
                        <div class="clearfix">
                            <div class="col-sm-6 registration-left-section  " data-animation="fadeInUp">
                                <div class="reg-content">
                                    <div class="textbox-wrap">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                            <!--<input type="text" class="form-control " placeholder="FirstName" required="required" />-->

                                              <%= f.label :first_name %><br/>
                                              <%= f.text_field :first_name, autocomplete: "off", :class="form-control"%>
                                        </div>
                                    </div>
                                    <div class="textbox-wrap">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                            <input type="text" class="form-control " placeholder="LastName" required="required" />
                                        </div>
                                    </div>
                                    <div class="textbox-wrap">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                                            <input type="email" class="form-control " placeholder="Email Id" required="required" />
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-6 registration-right-section " data-animation="fadeInUp">
                                <div class="reg-content">
                                    <div class="textbox-wrap">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                            <input type="text" class="form-control " placeholder="UserName" required="required" />
                                        </div>
                                    </div>
                                    <div class="textbox-wrap">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                            <input type="password" class="form-control " placeholder="Password" required="required" />
                                        </div>
                                    </div>
                                    <div class="textbox-wrap">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                            <input type="password" class="form-control " placeholder="Confirm-Password" required="required" />
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="registration-form-action clearfix " data-animation="fadeInUp" data-animation-delay=".15s">
                            <a href="#demo1" class="btn btn-success pull-left blue-btn ">
                                <i class="icon-chevron-left"></i>&nbsp; &nbsp;Back To Login
                            </a>
                            <button type="submit" class="btn btn-success pull-right green-btn ">Register Now &nbsp; <i class="icon-chevron-right"></i></button>

                        </div>
                    </form>
                </div>



            </div>
        </section>

                <script type="text/javascript">
                    $(function () {
                        $("input").iCheck({
                            checkboxClass: 'icheckbox_square-blue',
                            increaseArea: '20%' // optional
                        });
                        $(".dark input").iCheck({
                            checkboxClass: 'icheckbox_polaris',
                            increaseArea: '20%' // optional
                        });
                        $(".form-control").focus(function () {
                            $(this).closest(".textbox-wrap").addClass("focused");
                        }).blur(function () {
                            $(this).closest(".textbox-wrap").removeClass("focused");
                        });

                        //On Scroll Animations


                        if ($(window).width() >= 968 && !Modernizr.touch && Modernizr.cssanimations) {

                            $("body").addClass("scroll-animations-activated");
                            $('[data-animation-delay]').each(function () {
                                var animationDelay = $(this).data("animation-delay");
                                $(this).css({
                                    "-webkit-animation-delay": animationDelay,
                                    "-moz-animation-delay": animationDelay,
                                    "-o-animation-delay": animationDelay,
                                    "-ms-animation-delay": animationDelay,
                                    "animation-delay": animationDelay
                                });

                            });
                            $('[data-animation]').waypoint(function (direction) {
                                if (direction == "down") {
                                    $(this).addClass("animated " + $(this).data("animation"));

                                }
                            }, {
                                offset: '90%'
                            }).waypoint(function (direction) {
                                if (direction == "up") {
                                    $(this).removeClass("animated " + $(this).data("animation"));

                                }
                            }, {
                                offset: $(window).height() + 1
                            });
                        }

                        //End On Scroll Animations


                        $(".main-nav a[href]").click(function () {
                            var scrollElm = $(this).attr("href");

                            $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

                            $(".main-nav a[href]").removeClass("active");
                            $(this).addClass("active");
                        });




                        if ($(window).width() > 1000 && !Modernizr.touch) {
                            var options = {
                                $menu: ".main-nav",
                                menuSelector: 'a',
                                panelSelector: 'section',
                                namespace: '.panelSnap',
                                onSnapStart: function () { },
                                onSnapFinish: function ($target) {
                                    $target.find('input:first').focus();
                                },
                                directionThreshold: 50,
                                slideSpeed: 200
                            };
                            $('body').panelSnap(options);

                        }

                        $(".colorBg a[href]").click(function () {
                            var scrollElm = $(this).attr("href");

                            $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

                            return false;
                        });

                  });
                </script>

            </body>
            </html>
