<%- model_class = Resident -%>
<div class="page-header">
  <h1><%=t '.title', :default => @resident.first_name %></h1>
</div>
<div class="row">

    <% if @resident.uid!=nil%>
      <div class="col-md-3">
        <%=image_tag "https://graph.facebook.com/"+ @resident.uid + "/picture?type=large" %>
      </div>
    <%end%>

  <dl class="dl-horizontal col-md-9">
    <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
    <dd><%= @resident.first_name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
    <dd><%= @resident.last_name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
    <dd><%= @resident.dob %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @resident.email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
    <dd><%= @resident.gender %></dd>
    <dt><strong><%= model_class.human_attribute_name(:living_space_id) %>:</strong></dt>
    <dd><%= @resident.living_space_id %></dd>
    <dt><strong>Family ID:</strong>
        <dd><%= @resident.family_id if @resident.approved==1 %></dd>
    </strong></dt>
  </dl>
</div>


<% if current_resident and current_resident.id.to_s ==params[:id].to_s %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                residents_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_resident_path(@resident), :class => 'btn btn-default' %>
<%end%>
