<h2 class="survey-title">
  <%= @survey.name %>
  <p><small><%= @survey.description %></small></p>
</h2>
    <ol class="questions">
      <% @survey.questions.each  do |question| %>
          <li>
            <p class="question"><%= question.text %></p>
            <ul class="options">
              <%question.options.each do |b| %>
                  <li class="radio">
                    <%= b.text %>
                    <p class="answers-number"> <%= number_of_people_who_also_answered(b.id) %> </p>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end%>
    </ol>
<% resident = Resident.find(@survey.resident_id)%>
<p>Created by: <%=link_to resident.email,  resident%></p>

<p> <a href=<%="/attempts/new?survey_id="+@survey.id.to_s%>>Attempt</a> </p>