<%= form_for(@living_space) do |f| %>
  <% if @living_space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@living_space.errors.count, "error") %> prohibited this living_space from being saved:</h2>

      <ul>
      <% @living_space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
