<p id="notice"><%= notice %></p>

<h1>Listing Living Spaces</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @living_spaces.each do |living_space| %>
      <tr>
        <td><%= living_space.latitude %></td>
        <td><%= living_space.longitude %></td>
        <td><%= living_space.type %></td>
        <td><%= link_to 'Show', living_space %></td>
        <td><%= link_to 'Edit', edit_living_space_path(living_space) %></td>
        <td><%= link_to 'Destroy', living_space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Living space', new_living_space_path %>
