<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @living_space.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @living_space.longitude %>
</p>

<p>
  <strong>Type:</strong>
  <%= @living_space.type %>
</p>

<%= link_to 'Edit', edit_living_space_path(@living_space) %> |
<%= link_to 'Back', living_spaces_path %>
