<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @worker.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @worker.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @worker.gender %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @worker.rating %>
</p>

<p>
  <strong>Address:</strong>
  <%= @worker.address %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
