<%= form_for(@residential_building) do |f| %>
  <% if @residential_building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@residential_building.errors.count, "error") %> prohibited this residential_building from being saved:</h2>

      <ul>
      <% @residential_building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dues %><br>
    <%= f.text_field :dues %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
