<p id="notice"><%= notice %></p>

<h1>Listing Residential Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Dues</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residential_buildings.each do |residential_building| %>
      <tr>
        <td><%= residential_building.dues %></td>
        <td><%= residential_building.latitude %></td>
        <td><%= residential_building.longitude %></td>
        <td><%= link_to 'Show', residential_building %></td>
        <td><%= link_to 'Edit', edit_residential_building_path(residential_building) %></td>
        <td><%= link_to 'Destroy', residential_building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residential building', new_residential_building_path %>
