<p id="notice"><%= notice %></p>

<p>
  <strong>Dues:</strong>
  <%= @residential_building.dues %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @residential_building.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @residential_building.longitude %>
</p>

<%= link_to 'Edit', edit_residential_building_path(@residential_building) %> |
<%= link_to 'Back', residential_buildings_path %>
