<p id="notice"><%= notice %></p>

<h1>Information Centre</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%=link_to post.title, post%></td>
        <td><%=link_to post.resident.first_name + " " + post.resident.last_name, post.resident%></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% if post.resident = current_resident%>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
            <td></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
