<p>
  <b>Title:</b>
  <%=@post.title %>

</p>

<p>
  <b>Body:</b>
  <%=h @post.content %>
</p>
<p>
  <b>Author:</b>
  <%= @post.resident.first_name %>
</p>

<h2>Comments</h2>

<% @post.comments.each do |c| %>
    <p>
      <b><%=link_to c.resident.first_name + " " + c.resident.last_name, c.resident %> said:</b><br />
      <%= time_ago_in_words(c.created_at) %> ago
    </p>

    <p>
      <%= c.body %>
    </p>
<% end %>

<%=form_for [@post, Comment.new] do |f| %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit "Add Comment" %>
    </p>
<% end %>
