<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1><%= @community.name %></h1>
</p>
<h3>Members</h3>
<h3>Community Members: </h3>

<% members = @community.members%>
<table class="table">
  <thead>
  <tr>
    <th>User ID  </th>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <% members.each do |p| %>
      <tr>
        <td><%= link_to p.resident.id, p %></td>
        <td><%= p.resident.first_name+" "+p.resident.last_name %></td>
        <td><%= p.resident.email %></td>
        <td><%= p.created_at%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>Add New Members</h3>
<% residents = Resident.all%>
<table class="table">
  <thead>
  <tr>
    <th>User ID  </th>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3">Signed Up On</th>
  </tr>
  </thead>

  <tbody>
  <% residents.each do |p| %>
      <tr>
        <td><%= link_to p.id, p %></td>
        <td><%= p.first_name+" "+p.last_name %></td>
        <td><%= p.email %></td>
        <td><%= p.created_at%></td>
        <td><%= link_to "Add", {:controller => :members, :action => :add, resident_id: p.id, community_id: @community.id}, {:method => :get }%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
