<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @apartment.location %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @apartment.longitude %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
