<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from 192.185.228.226/projects/ma/1-5-1/jquery/ by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 20 Aug 2015 08:56:46 GMT -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Material Admin</title>

  <!-- Vendor CSS -->
  <link href="/material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
  <link href="/material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href="/material/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
  <link href="/material/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">



  <!-- CSS -->
  <link href="/material/css/app.min.1.css" rel="stylesheet">
  <link href="/material/css/app.min.2.css" rel="stylesheet">

</head>
<body>
<header id="header">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="index-2.html">Material Admin</a>
    </li>

    <li class="pull-right">
      <ul class="top-menu">
        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>
        <li id="top-search">
          <a class="tm-search" href="#"></a>
        </li>
  </ul>

  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <input type="text">
    <i id="top-search-close">&times;</i>
  </div>
</header>

<section id="main">
  <aside id="sidebar">
    <div class="sidebar-inner c-overflow">
      <div class="profile-menu">
        <a href="#">
          <div class="image">
            <% if current_resident.present? and current_resident.uid!=nil %>
                <img class="" src="<%="https://graph.facebook.com/" + current_resident.try(:uid) + "/picture?type=large" %>" alt="">
            <%end%>
          </div>

          <div class="profile-info">
            Malinda Hollaway

            <i class="zmdi zmdi-arrow-drop-down"></i>
          </div>
        </a>

        <ul class="main-menu">
          <li>
            <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
          </li>
          <li>
            <a href="#"><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
          </li>
          <li>
            <a href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
          </li>
          <li>
            <a href="#"><i class="zmdi zmdi-time-restore"></i> Logout</a>
          </li>
        </ul>
      </div>

      <ul class="main-menu">
        <li class="active"><a href="/residents/me"><i class="zmdi zmdi-home"></i> Home</a></li>
        <li class="active"><a href="/residents/"><i class="zmdi zmdi-face"></i> Residents</a></li>
        <li><a href="/communities"><i class="zmdi zmdi zmdi-format-underlined"></i>Communities</a></li>
        <li class="active"><a href="/residents/me"><i class="zmdi zmdi-home"></i> Home</a></li>
        <li><a href="/posts"><i class="zmdi zmdi zmdi-format-underlined"></i>Blogs</a></li>
        <li><a href="/surveys"><i class="zmdi zmdi zmdi-format-underlined"></i>Polls</a></li>
        <li><a href="/logout"><i class="zmdi zmdi zmdi-format-underlined"></i>Logout</a></li>

      </ul>
    </div>
  </aside>

  <aside id="chat">
    <ul class="tab-nav tn-justified" role="tablist">
      <li role="presentation" class="active"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">Friends</a></li>
      <li role="presentation"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">Online Now</a></li>
    </ul>

    <div class="chat-search">
      <div class="fg-line">
        <input type="text" class="form-control" placeholder="Search People">
      </div>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="friends">
        <div class="listview">
          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
                <i class="chat-status-busy"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Jonathan Morris</div>
                <small class="lv-small">Available</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">David Belle</div>
                <small class="lv-small">Last seen 3 hours ago</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
                <i class="chat-status-online"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Fredric Mitchell Jr.</div>
                <small class="lv-small">Availble</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
                <i class="chat-status-online"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Glenn Jecobs</div>
                <small class="lv-small">Availble</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/5.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Bill Phillips</div>
                <small class="lv-small">Last seen 3 days ago</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left">
                <img class="lv-img-sm" src="img/profile-pics/6.jpg" alt="">
              </div>
              <div class="media-body">
                <div class="lv-title">Wendy Mitchell</div>
                <small class="lv-small">Last seen 2 minutes ago</small>
              </div>
            </div>
          </a>
          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/7.jpg" alt="">
                <i class="chat-status-busy"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Teena Bell Ann</div>
                <small class="lv-small">Busy</small>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="online">
        <div class="listview">
          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
                <i class="chat-status-busy"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Jonathan Morris</div>
                <small class="lv-small">Available</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
                <i class="chat-status-online"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Fredric Mitchell Jr.</div>
                <small class="lv-small">Availble</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
                <i class="chat-status-online"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Glenn Jecobs</div>
                <small class="lv-small">Availble</small>
              </div>
            </div>
          </a>

          <a class="lv-item" href="#">
            <div class="media">
              <div class="pull-left p-relative">
                <img class="lv-img-sm" src="img/profile-pics/7.jpg" alt="">
                <i class="chat-status-busy"></i>
              </div>
              <div class="media-body">
                <div class="lv-title">Teena Bell Ann</div>
                <small class="lv-small">Busy</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </aside>


  <section id="content">
    <div class="container">
      <%=yield%>
    </div>
  </section>
</section>

<footer id="footer">
  Copyright &copy; 2015 Material Admin

  <ul class="f-menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</footer>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="img/browsers/chrome.png" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="img/browsers/firefox.png" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="img/browsers/opera.png" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="img/browsers/safari.png" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="img/browsers/ie.png" alt="">
                    <div>IE (New)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->

<!-- Javascript Libraries -->
<script src="/material/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/material/vendors/bower_components/flot/jquery.flot.js"></script>
<script src="/material/vendors/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/material/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
<script src="/material/vendors/sparklines/jquery.sparkline.min.js"></script>
<script src="/material/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<script src="/material/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="/material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/material/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
<script src="/material/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/material/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="/material/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="/material/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="/material/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="/material/js/flot-charts/curved-line-chart.js"></script>
<script src="/material/js/flot-charts/line-chart.js"></script>
<script src="/material/js/charts.js"></script>

<script src="/material/js/charts.js"></script>
<script src="/material/js/functions.js"></script>
<script src="/material/js/demo.js"></script>


</body>

<!-- Mirrored from 192.185.228.226/projects/ma/1-5-1/jquery/ by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 20 Aug 2015 08:58:07 GMT -->
</html>
