<p id="notice"><%= notice %></p>

<p>
  <strong>Resident:</strong>
  <%= @member.resident_id %>
</p>

<p>
  <strong>Community:</strong>
  <%= @member.community_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
